.project_lists {
  width: 100vw;
  height: 100vh;
  position: absolute;

  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  z-index: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  & .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid white;
    width: 50%;
    min-height: 31px;
    margin: 20px;

    &__bar {
      height: 30px;
      border: none;
      outline: none;
      font-size: 18px;
      padding-left: 10px;
      background-color: inherit;
      text-align: center;
      width: 100%;
    }

    &__bar::placeholder {
      color:hsl(0, 0%, 80%);
    }

    @media only screen and (max-width: 530px) {
      &__icon {
        display: none;
      }
    }

    &__icon {
      padding-right: 10px;
      font-size: 20px;
    }
  }
}

.project_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 80vw;
  max-height: 80vh;
}