.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  justify-content: space-between;

  width: 320px;
  height: 20vh;

  margin: 10px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 15px;
  color: hsl(271, 69%, 90%);

  &__name {
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
  }

  &__description {
    padding: 10px;
    flex: 1;
  }

  &__links {
    display: flex;
    font-size: 30px;
  }
}