@font-face {
	font-family: 'Nunito';
	src: url(./fonts/Nunito.ttf);
}

@font-face {
	font-family: 'JetBrains';
	src: url(./fonts/JetBrains.ttf);
}

body {
  background-color: #191414;
  font-family: 'Nunito';
  color: white;
}
